<article class="post">
  <div class="title">
    <header>
      <div class="column">
         <a href="/post/{{id}}">{{title}}</a>
     </div>
     </header>

     <div class="column">
      <span class=""> </span>
      </div>
     <div class="card-content"></div>
     {{post-content}}
        </div>
  <div class="meta">
    {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>



{{!-- <ol class="post-list">
    {{#each posts as |post|}}
    <li>
        <article class="post">
            <div class="title">
                <a href="/">{{title}}</a
                ></div>
            <div class="meta">
                {{user.username}} on {{created_at}}
                <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
            </div>
        </article>
    </li>
    {{/each}}
</ol> --}}