
<section>
<div class="post">
    <div class="post-title">
        <h4><a href="/post/{{id}}">{{title}}</a></h4>
    </div>
    
   <div class="meta">
      {{user.username}} on {{format_date created_at}}
    </div>

    <br>
        <div class="post-content">{{post_content}}
        <br><br>
    
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
 </div>
</div>
</section>



{{!-- <ol class="post-list">
    {{#each posts as |post|}}
    <li>
        <article class="post">
            <div class="title">
                <a href="/">{{title}}</a>
                ></div>
            <div class="meta">
                {{user.username}} on {{created_at}}
                <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
            </div>
        </article>
    </li>
    {{/each}}
</ol> --}}